@{
    ViewBag.Title = "Books";
}

<h2>
    @ViewBag.Title
</h2>

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    using (Html.BeginForm(actionName: "New", controllerName: "Book", method: FormMethod.Get))
    {
        <input style="height: 40px; width: 40px; position: absolute; right: 20%; top: 70px;"  type="image" src="~/Content/images/plus.png" />
    }
}

<br />

<div class="row" style="text-align: center;">
    @foreach (var book in ViewBag.Books)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img class="book-img" src="@book.ImagePath" alt="book's image" style="height: 400px">
                <div class="caption">
                    @{
                        double rating = 0;

                        if (book.Reviews.Count != 0)
                        {
                            int sum = 0;

                            foreach (var review in book.Reviews)
                            {
                                sum += review.Note;
                            }

                            rating = sum / book.Reviews.Count;
                        }

                        switch (rating)
                        {
                            case 0:
                                <text>
                                    <p>☆☆☆☆☆ (@book.Reviews.Count)</p>
                                </text>
                                break;
                            case 1:
                                <text>
                                    <p>⭐☆☆☆☆ (@book.Reviews.Count)</p>
                                </text>
                                break;
                            case 2:
                                <text>
                                    <p>⭐⭐☆☆☆ (@book.Reviews.Count)</p>
                                </text>
                                break;
                            case 3:
                                <text>
                                    <p>⭐⭐⭐☆☆ (@book.Reviews.Count)</p>
                                </text>
                                break;
                            case 4:
                                <text>
                                    <p>⭐⭐⭐⭐☆ (@book.Reviews.Count)</p>
                                </text>
                                break;
                            case 5:
                                <text>
                                    <p>⭐⭐⭐⭐⭐ (@book.Reviews.Count)</p>
                                </text>
                                break;
                        }
                    }
                    <h3>@book.Title</h3>
                    <h3><small>@book.Author</small></h3>

                    @if (User.Identity.IsAuthenticated)
                    {
                        using (Html.BeginForm(actionName: "Details", controllerName: "Book", method: FormMethod.Get,
                            routeValues: new { id = book.BookId }))
                        {
                            <button class="btn btn-primary">Details</button>
                        }
                    }
                    else
                    {
                        using (Html.BeginForm(actionName: "Login", controllerName: "Account", method: FormMethod.Get,
                            routeValues: new { id = book.BookId }))
                        {
                            <button class="btn btn-info">Details</button>
                        }
                    }
                </div>
            </div>
        </div>
    }
</div>


