@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Playfair+Display:ital@0;1&family=Poppins&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body style="position: relative;">
<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("serenity-craft.com", "Index", "Home", new { area = "" }, new { @class = "navbar-brand name" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Books", "Index", "Book")</li>
                    

                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("User"))
                        {
                            <li>@Html.ActionLink("My reviews", "MyReviews", "Review")</li>
                        }

                        if (User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("My reviews", "MyReviews", "Review")</li>
                            <li>
                                <div class="dropdown">
                                    <p style="padding-left: 15px" class="dropdown-toggle" data-toggle="dropdown">Management</p>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Publishers", "Index", "Publisher")</li>
                                        <li>@Html.ActionLink("Contacts", "Index", "Contact")</li>
                                        <li>@Html.ActionLink("Genres", "Index", "Genre")</li>
                                        <li>@Html.ActionLink("Book Types", "Index", "BookType")</li>
                                        <li>@Html.ActionLink("Reviews", "Index", "Review")</li>

                                    </ul>
                                </div>
                            </li>
                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <br/>
        <br/>
        @*<footer class="bottom" style="text-align: center; position: absolute; bottom: 0; width: 60%">
            <br/>
            <hr/>
            <p>&copy; @DateTime.Now.Year - DAW Project ~ Rebeca Diaconu</p>
        </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
