@model Serenity_Craft.Models.Publisher
@{
    ViewBag.Title = Model.Name;
}

<h2>@ViewBag.Title Publisher</h2>

@if (Model.Contact != null)
{
    @Html.Label("Phone number", "Phone number:")
    <br />
    <p>@Model.Contact.PhoneNumber</p>

    @Html.Label("Email", "Email:")
    <br />
    <p>@Model.Contact.Email</p>
}

@using (Html.BeginForm(actionName: "Edit", controllerName: "Publisher", method: FormMethod.Get, routeValues:
    new { id = Model.PublisherId }))
{
    <button style="margin-right:5px" class="btn btn-primary col-lg-1" type="submit">Update</button>
}

@using (Html.BeginForm(actionName: "Delete", controllerName: "Publisher", method: FormMethod.Post, routeValues:
    new { id = Model.PublisherId }))
{
    @Html.HttpMethodOverride(HttpVerbs.Delete)
    <button class="btn btn-danger col-lg-1" type="submit">Delete</button>
}
