@model Serenity_Craft.Models.Publisher
@{
    ViewBag.Title = "Update";
}


<h2>@ViewBag.Title</h2>

@if (ViewBag.Message != null)
{
    <div class="alert alert-danger ">@ViewBag.Message</div>
}

@using (Html.BeginForm("Edit", "Publisher"))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)
    @Html.HiddenFor(p =>p.PublisherId)

    @Html.Label("Name", "Publisher name:")
    <br />
    @Html.EditorFor(b => b.Name, new { placeholder = "Type in the publisher's name", @class = "form-control" })
    @Html.ValidationMessageFor(b => b.Name, "", new { @class = "text-danger" })
    <br />
    <br />

    @Html.Label("PhoneNumber", "Phone number:")
    <br />
    @Html.EditorFor(b => b.Contact.PhoneNumber, new { placeholder = "Type in the publisher's phone number", @class = "form-control" })
    @Html.ValidationMessageFor(b => b.Contact.PhoneNumber, "", new { @class = "text-danger" })
    <br />
    <br />

    @Html.Label("Email", "Email:")
    <br />
    @Html.EditorFor(b => b.Contact.Email, new { placeholder = "Type in the publisher's email", @class = "form-control" })
    @Html.ValidationMessageFor(b => b.Contact.Email, "", new { @class = "text-danger" })
    <br />
    <br />

    <button class="btn btn-primary" type="submit">Update</button>
}

