@{
    ViewBag.Title = "serenity-craft.com";
    Layout = null;
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
}

<div class="presentation">
    <img class="pres-img" src="~/Content/images/icon-white.png" />
    <h1 class="brand-name">serenity-craft.com</h1>
    <p class="lead">Your place to feel free & put your <span>finger-print</span></p>
    <p class="lead">on your favorite creations.</p>
    <br/>
    @if (!User.Identity.IsAuthenticated)
    {
        <button class="btn btn-lg">@Html.ActionLink("Login", "Login", "Account", null, new { style = "text-decoration:none; font-weight: bold; color: #2E2B3B" })</button>
        <button class="btn btn-lg">@Html.ActionLink("Guest", "Index", "Book", null, new { style = "text-decoration:none; font-weight: bold; color: #2E2B3B" })</button>
    }
    else
    {
        <button class="btn btn-lg">@Html.ActionLink("Lets's go!", "Index", "Book", null, new { style = "text-decoration:none; font-weight: bold; color: #2E2B3B" })</button>
    }
    
</div>

<div class="about">
    <h1>About us</h1>
    <br />
    <p class="lead">Our app will help you share your opinion about</p>
    <p class="lead">what you've loved and hated about a specific book.</p>
    <br />
    <p class="lead">Help others read wisely!</p>
    <br />
    <br />
    <h1>Contact us anytime!</h1>
    <br/>
    <div class="row">
        <img class="col-md-4" src="~/Content/images/email-icon.png" />
        <p class="lead col-md-8">serenity@craft.com</p>
    </div>
    <div class="row">
        <img class="col-md-4" src="~/Content/images/phone-icon.png"/>
        <p class="lead col-md-8">0724 331 009</p>
    </div>
</div>