@model Serenity_Craft.Models.Review
@{
    ViewBag.Title = "New Review";
}

<br />
<br />

@if (ViewBag.Message != null)
{
    <div class="alert alert-danger ">@ViewBag.Message</div>
}

<div style="padding-top: 30px; position: absolute; left: 150px;">
    <img src="/Content/images/back.png" />
    @Html.ActionLink("Back to book details", "Details", "Book", new {id = ViewBag.Book}, null)
</div>

<br />
<h2>@ViewBag.Title</h2>
<br />
<br />

@using (Html.BeginForm("New", "Review", FormMethod.Post))
{
    @Html.HiddenFor(p => p.ReviewId)
    @Html.HiddenFor(p => p.BookId)

    @Html.Label("Text", "Your review:")
    <br/>
    @Html.TextArea("Text", null, new {placeholder = "Type in the book's review", @class = "form-control", @rows = "10"})
    @Html.ValidationMessageFor(b => b.Text, "", new {@class = "text-danger"})
    <br/>
    <br/>


    @Html.Label("Note", "Book's evaluation:")
    <br/>
    @Html.DropDownListFor(c => c.Note, new SelectList(ViewBag.Notes, "Value", "Text"), "Choose a note", new {@class = "form-control"})
    @Html.ValidationMessageFor(c => c.Note, "", new {@class = "text-danger"})
    <br/>
    <br/>

    <button class="btn btn-primary col-lg-1" type="submit" style="margin-left: 90px">Add</button>

    <div style="position: absolute; bottom: -150px; right: 330px;">
        <img src="~/Content/images/finger-print.png" style="height: 300px;"/>
        <p class="lead" style="position: relative; left: 200px; font-weight: bold;">Share your thoughts!</p>
    </div>
}

